@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  margin-bottom: 82px;
}

.main__menu {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.main__logo {
  flex: 1;
}

.main__menu .link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
}

.main__menu .active {
  color: #f25822;
}

main {
  margin-bottom: 200px;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__content__leftSide {
  width: 589px;
}

.bib-title {
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 17px;
}

.text {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  margin-bottom: 37px;
  width: 466px;
}

.btns-list .btn {
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  padding: 15px 35px;
}

.btns-list .clear {
  background: #ffffff;
  color: #aaaaaa;
  box-shadow: none;
}

footer {
  margin-bottom: 96px;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.second_page_top_banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 140px;
}

.second_page_top_banner .card_shadow {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.second_page_top_banner .top_card h4 {
  margin-top: 25px;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.second_page_top_banner .top_card p {
  margin-top: 17px;
  margin-bottom: 25px;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}

.second_page_top_banner .top_card a {
  font-family: "Gilroy-Bold";
  font-size: 11px;
  line-height: 150%;
  color: #000000;
}

.second_page_main {
  margin-top: 190px;
  background: #fafafa;
}

.second_page_main h2 {
  font-family: "Gilroy-Bold";
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  text-align: center;
}
.second_page_main p {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}

.second_page_main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 55px;
}

.second_page_main .cards card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second_page_main .cards card h4 {
  margin-top: 22px;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.second_page_main .cards card p {
  margin-top: 22px;
  font-family: "Gilroy-Regular";
  font-size: 15px;
  line-height: 150%;
  color: #aaaaaa;
}
.second_page_main .cards card button {
  margin-top: 39px;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-family: "Gilroy-Bold";
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 15px 36px 15px 46px;
  border: none;
}
